<!DOCTYPE html><html lang="en" style="--vh: 9px;" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="0">
    <meta name="keywords" content="0">
    <meta name="author" content="0">

    <meta property="og:title" content="Companies Registry">
    <meta property="og:description" content="The Government of the Hong Kong Special Administrative Region">
    <meta property="og:image" content="/ICRIS3EF/images/default/header/cr-logo.png">

    <script type="text/javascript">
//<![CDATA[
window["_csrf_"] = "083518c274846801e1f09b340ccba032b42c7238df9a6d608fdfa84f04e1eaf15f21f0ca5a10a668f5a38c16989b383f038dd7314d883e5c7f3a34875999087fbef985ee150683bd9abb65b4a66d93fbc2a9ad4a51a693bd80e447c70403866b977680b71697193dc59140c835b86bf11b69ab7bd61f478ddd2bd668e41d005c402ef2b6b3f99fc68d7f519dfd8d56a0d1f5405d471a5bd0ba540edd446a35830303bf0645f249e0fc0407c6923782186d8b69e581408189cd98a59fb4d6bb7088532bacefc07b405bb101aaa796dbbf9bd1df5d3f536fbbfce4317b1c60eefde25191fdf64bdc98d3bcb624627d52ef6817125aff7e17a666179ee26f896c3085a2a863c7247eee5c896fc1602ef52cc93125e20869fc981f7e512cd6c5eebfeed30ccbc0a9c4445c4f0e2bf310bd7dfc482494ba6e9401f69e285f40603e156595c8399b5c4b749d5d08bbfaf7ad0bffd849aa98f98373f275b375eb175ce7cf54d22816929a035f4cc49575e2e3f9";
//]]>
</script><script type="text/javascript" src="/TSbd/0859fe0094ab2000c7b166987fe4ee293e09fa5b71beccc3a356605c9f0f4d4e0629d48c1fd05a27?type=2"></script><script type="text/javascript" src="/ICRIS3EF/js/disable-devtool.min.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/native-override.js"></script>
    <script>
      const isDev = location.hostname.indexOf("localhost")>=0;
      const WEB_BASE = "/ICRIS3EF";
      const WEB_BASE_EP = "/ICRIS3EP"; //defined on constant.ftl
      const WEB_BASE_ES = "/ICRIS3ES";
      const WEB_BASE_EF = "/ICRIS3EF";
      const ver = "202606171006";
      const version = "202606171006";
      const copyrightYear = 2026;
      const WEB_THEME = "default";
      const LOGIN_TYPE = '';
      const moduleData = {};
      var rootData = {"navigations":[{"name":"uam.feef004.common.label.main.title.registration"}]};
      var i18n;
      const systemMessages = {};
      const userBean = {};
      const LOCALE = "en_US".replace('_', '-');
      const cnu_isESUser = true;
      const systemClockTimestamp = "1783316356142";
      const MAX_INACTIVE_TIME = 1200;
    </script>

    <link rel="stylesheet" href="/ICRIS3EF/css/simple-line-icons.css">
    <link rel="stylesheet" href="/ICRIS3EF/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ICRIS3EF/css/bootstrap-vue.css">
    <link rel="stylesheet" href="/ICRIS3EF/css/normalize.min.css">
    <link rel="stylesheet" href="/ICRIS3EF/css/antd.min.css?ver=202606171006">
    <link rel="stylesheet" href="/ICRIS3EF/public/styles/print.css?ver=202606171006" media="print">

    <link rel="stylesheet" href="/ICRIS3EF/public/styles/base.css?ver=202606171006">
    <link rel="stylesheet" href="/ICRIS3EF/public/styles/tablesorter.css?ver=202606171006">
      <link rel="stylesheet" href="/ICRIS3EF/public/styles/header.css?ver=202606171006">
    <link rel="stylesheet" href="/ICRIS3EF/public/styles/footer.css?ver=202606171006">
    <link rel="stylesheet" href="/ICRIS3EF/public/styles/form.css?ver=202606171006">
    <link rel="stylesheet" href="/ICRIS3EF/public/styles/custom.css?ver=202606171006">
    <link rel="stylesheet" href="/ICRIS3EF/public/styles/filing-search-company.css?ver=202606171006">
    <link rel="stylesheet" href="/ICRIS3EF/css/progress-bar-override.css?ver=202606171006">

        <link rel="stylesheet" href="/ICRIS3EF/vue-app/registration/common/strut-address.css?ver=202606171006">
        <link rel="stylesheet" href="/ICRIS3EF/vue-app/registration/registration-style.css?ver=202606171006">


    <script type="text/javascript" src="/ICRIS3EF/js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/axios.js"></script>

    <script type="text/javascript" src="/ICRIS3EF/jquery/jquery.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/rxjs.min.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/async-window.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/bootstrap.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/utilities.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/print/print.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/moment.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/lodash.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/detect-browser.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/qrcode.min.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/pdfjs/build/pdf.mjs?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/pdfjs/web/viewer.mjs?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/font/antd-custom-icon-svg.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/decimal.js"></script>
          <script type="text/javascript" src="/ICRIS3EF/js/es.array.at-polyfill.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/registration.refresh.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/js/vue/vue.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/vue/vuex.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/vue/vue-i18n.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/vue-meta.min.js"></script>


    <script type="text/javascript" src="/ICRIS3EF/js/antd1.7.8_locale.js"></script>

    <script type="text/javascript" src="/ICRIS3EF/js/vue/bootstrap-vue.js"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/vue/vue-dash-event.min.js"></script>
    <script src="/ICRIS3EF/js/qs.js"></script>

    <script type="text/javascript" src="/ICRIS3EF/js/constant.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/registration-constant.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/js/qrcode.min.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/js/asmcrypto.all.es5.min.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/js/xmldsig.min.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/js/forge.min.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/vue-app/utils/locale-message.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/utils/load-menus.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/utils/load-rcpt.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/icris3-common-setup.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/vue-app/utils/check-browser.js?ver=202606171006"></script>
      <script type="javascript/worker" src="/ICRIS3EF/js/session-idle-worker.js?ver=202606171006"></script>
      <script type="text/javascript" src="/ICRIS3EF/js/session-idle-monitor.js?ver=202606171006"></script>


    <script type="text/javascript" src="/ICRIS3EF/js/icris3-store.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/js/uam-store.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/registration-store-init.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/leave-alert.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/main-control-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/locale-control-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/formatter-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/http-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/form-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/share-control-mixin.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/header-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/menu-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/scroll-to-menu-mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/table-horizontal-scroll.js?ver=202606171006"></script>

        <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/uam-mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/ps-mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/registration-form-setup.mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/registration-core.mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/registration.mixins.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/registration-data-restore.mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/registration-step-procedure.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/pi-support-document.mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/iamsmart-data-restore.mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/mixin/octopus-control-mixin.js?ver=202606171006"></script>
        <script type="text/javascript" src="/ICRIS3EF/vue-app/common/landing/iamsmart/iamsmart-mixin.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/vue-app/utils/vue-antd-sub-menu.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/common/message/global-message-component.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/js/dynamic-vh-props.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/src/directive.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/BaseComponents.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/nav.js?ver=202606171006" defer=""></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/BackToTop.js?ver=202606171006" defer=""></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/ProgressBar.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/skipToContent.js?ver=202606171006" defer=""></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/skipTarget.js?ver=202606171006" defer=""></script>

    <script type="text/javascript" src="/ICRIS3EF/src/components/header.js?ver=202606171006" defer=""></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/footer.js?ver=202606171006" defer=""></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/common/modal/components.js?ver=202606171006" defer=""></script>
    <script type="text/javascript" src="/ICRIS3EF/src/components/locale.vue.js?ver=202606171006" defer=""></script>
        <script type="text/javascript" src="/ICRIS3EF/src/components/session-idle-monitor.vue.js?ver=202606171006" defer=""></script>
      <script type="text/javascript" src="/ICRIS3EF/src/components/cookie-policy.vue.js?ver=202606171006" defer=""></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/common/page-layout/page-layout-component.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/common/captcha/captcha-component.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/common/confirm-alert-dialog/confirm-alert-dialog.mixin.js?ver=202606171006"></script>
    <script type="text/javascript" src="/ICRIS3EF/vue-app/common/confirm-alert-dialog/confirm-alert-dialog.component.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/vue-app/dd/components/common/layoutComponent.js?ver=202606171006"></script>

		<script type="text/javascript" src="/ICRIS3EF/app-controller/dd/wcag.vue.js?ver=202606171006" defer=""></script>
		
		<script type="text/javascript" src="/ICRIS3EF/app-controller/dd/axios-interceptors.js?ver=202606171006" defer=""></script>
		
		
		<script type="text/javascript" src="/ICRIS3EF/app-controller/dd/loginCheck.vue.js?ver=202606171006" defer=""></script>
		
		<script type="text/javascript" src="/ICRIS3EF/app-controller/dd/backCacheIssue.js?ver=202606171006" defer=""></script>
		
          <script type="text/javascript" src="/ICRIS3EF/vue-app/common/landing/iamsmart/iamsmart-btn.component.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/common/landing/iamsmart/iamsmart-step-by-step-instructions-opener.component.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/common/landing/iamsmart/iamsmart-proccessing.component.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/common/landing/iamsmart/fill-by-iamsmart.directive.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/common/v-html-panel/v-html-panel.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/common/octopus/octopus-template.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/common/octopus/octopus-component.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/common/component.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/s01-terms-and-conditions.template.js?ver=202606171006"></script>
          <script type="text/javascript" src="/ICRIS3EF/vue-app/registration/s01-terms-and-conditions.component.js?ver=202606171006"></script>

    <script type="text/javascript" src="/ICRIS3EF/vue-app/common/systemclock/systemclock-component.js?ver=202606171006" defer=""></script>
                <script type="text/javascript" src="/ICRIS3EF/vue-app/dd/components/common/tableComponent.js?ver=202606171006" defer=""></script>
                <script type="text/javascript" src="/ICRIS3EF/vue-app/main-content/uam-content.js?ver=202606171006" defer=""></script>
  </head>
    <body class="postlogonApp theme-b">
  
  <div id="skip-to-content">
    <skip-to-content></skip-to-content>
  </div>

    <header id="hdr">
      <top-bar></top-bar>
        <main-menu-nav></main-menu-nav>
      <mobile-page-timestamp></mobile-page-timestamp>
        <page-title title-txt="uam.feef004.common.label.main.title.registration"></page-title>
      <breadcrumb></breadcrumb>
    </header>
  	<div id="wcag_layer"></div>
  	<div id="login_vue_layer"></div>
    <main id="main-content">
      <skip-target id="skip-target"></skip-target>
      <div id="icris3-locale-main">
        <locale-loading-indicator></locale-loading-indicator>
      </div>
        <div id="session-idle-monitor">
          <session-idle-monitor v-if="userBean &amp;&amp; userBean.hasOwnProperty('login') ? userBean.login : false"></session-idle-monitor>
        </div>
    <section id="formWrapper" class="content-wrapper formWrapper">
      <div id="uam-content">
        <loading-indicator :show="$uamStore.getters['registration/isRegistrationCancel']"></loading-indicator>
        <icris3-global-message id="loginMessageBox" v-if="!$icris3Store.getters.isShowShoppingModal &amp;&amp; !$icris3Store.getters.isShowModal"></icris3-global-message>
        <icris3-octopus></icris3-octopus>
        <feef004-s01></feef004-s01>
      </div>
    </section>
	  </main>
    
    <footer id="ftr">
      <footer-core-links></footer-core-links>
      <copyright></copyright>
    </footer>
    <cookie-policy id="icris3-cookie-policy"></cookie-policy>
    <back-to-top id="btt"></back-to-top>
  

</body></html>